.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to left, rgb(0, 19, 108, .7), rgb(10, 26, 39, .7));
    color: white;
    text-align: center;
    z-index: 3;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button-container {
    margin-top: 5px;
    margin-right: 60px;
  }