.info-block-container {
   background-color: black;
   color: white;
   text-align: left;
}

.ucfimage {
   position: absolute;
   width: 450px;
   top: 1200px;
   left: 150px;
}

.word-container {
   display: flex;
   flex-direction: row;
   padding-top: 140px;
   padding-bottom: 100px;
}

.word-container h1 {
   font-size: 70px;
   margin: 100px 90px 120px 200px;
   max-width: 700px;
}

.right-content {
   margin-top: 50px;
   overflow: hidden;
}

.right-content h4 {
   color: rgb(128, 128, 128);
   margin: 50px 200px 50px 100px;
   font-size: 28px;
   max-width: 920px;
}

@media only screen and (max-width: 1799px) {
   .right-content h4 {
      font-size: 20px;
      /* min-width: 500px; */
   }

   .ucfimage {
      position: absolute;
      width: 300px;
      top: 1250px;
      left: 150px;
   }
}
@media only screen and (max-width: 1303px) {
   .word-container h1 {
      max-width: 90%;
   }
   .ucfimage {
      position: absolute;
      width: 300px;
      top: 1500px;
      left: 120px;
   }
   .right-content h4 {
      color: rgb(128, 128, 128);
      padding-right: 0px;
      font-size: 20px;
      flex-wrap: wrap;
      overflow: hidden;
   }
}

@media only screen and (max-width: 930px) {
   .word-container {
      flex-direction: column;
      padding-top: 0px;
      padding-bottom: 100px;
      align-items: left;
   }
   .word-container h1 {
      font-size: 65px;
      margin: 20px 0px 0px 32px;
      max-width: 700px;
   }
   .ucfimage {
      display: none;
   }
   .right-content h4 {
      margin: 0px 0px 50px 10px;
      font-size: 20px;
   }
}
