.info-block-container {
   background-color: black;
   color: white;
   text-align: left;
}

.word-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-top: 200px;
   padding-bottom: 200px;
}

.word-container h1 {
   font-size: 70px;
   max-width: 600px;
   margin: 50px 0px 120px 200px;
}

.right-content {
   margin-top: 50px;
}

.right-content h4 {
   color: rgb(128, 128, 128);
   margin: 50px 200px 50px 100px;
   font-size: 30px;
}
