.island-info-block-container {
   background-color: black;
   color: white;
   text-align: left;
   padding-bottom: 140px;
}

.island-word-container {
   display: flex;
   flex-direction: column;
}

.island-word-container h1 {
   margin-bottom: 40px;
   font-size: 60px;
   margin-left: 40px;
}

.info-row {
   display: flex;
   flex-direction: row;
   margin-left: 40px;
   align-items: center;
}

.flavor-text h4 {
   color: rgb(128, 128, 128);
   margin-bottom: 2em;
   margin-left: 40px;
   margin-right: 100px;
}

.island-video {
   margin: auto;
   border-radius: 10px;
   width: 50.5%;
}

@media only screen and (max-width: 720px) {
   .island-word-container h1 {
      font-size: 40px;
      margin-left: 10px;
   }
   .info-row {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      align-items: center;
   }
   .island-video {
      margin: auto;
      border-radius: 10px;
      width: 95%;
   }
   .iframe {
      width: 95%;
   }
   .flavor-text h4 {
      margin-top: 40px;
      margin-bottom: 30px;
      margin-left: 10px;
      margin-right: 0px;
      width: auto;
   }
   .island-info-block-container {
      padding-bottom: 80px;
   }
}
