.key-features-container {
   color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.features-container {
   margin: 0 300px;
   display: flex;
   flex-wrap: wrap;
}

.features-container > div {
   flex: 0 0 calc(33.33% - 20px);
   margin: 10px;
   margin-bottom: 100px;
   box-sizing: border-box;
}

.features-container h1 {
   max-width: 400px;
}

.features-container h5 {
   font-weight: 400;
   max-width: 350px;
   margin: 0 auto;
}
