@font-face {
   font-family: "Monserrat";
   src: local("Montserrat"), url("fonts/Montserrat-VariableFont_wght.ttf");
   font-style: normal;
   font-weight: 200;
}

.App {
   font-family: "Monserrat";
}

.body {
   width: 100%;
}
